{% extends "welcome.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "system/plugins/iCheck/square/blue.css" %}">
{% endblock css %}

{% block content %}

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Di</b>ary</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Войти</p>

            <form action="{% url "core:login" %}" method="post">{% csrf_token %}
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" name="username" placeholder="Email / Login" required autofocus>
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                {% if error %}
                    <div class="alert alert-error">{{error}}</div>
                {% endif %}
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false"
                                     style="position: relative;">
                                    <input type="checkbox"
                                           style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;">
                                    <ins class="iCheck-helper"
                                         style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); border: 0px; opacity: 0; background-position: initial initial; background-repeat: initial initial;"></ins>
                                </div>
                                Запомнить меня
                            </label>
                        </div>
                    </div>
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                    {% endif %}
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Войти</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="#">Я забыл свой пароль</a><br>
            <a href="{% url "core:registration" %}" class="text-center" onclick="UserService.showRegistration(); return false;">Зарегистрироваться</a>

        </div>
        <!-- /.login-box-body -->
    </div>

{% endblock content %}

{% block modal %}
    <div class="modal inmodal" tabindex="1" role="dialog" aria-hidden="true" id="modal-register">
        <div class="modal-dialog" style="width:400px">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Регистрация</h4>
                </div>
                <div class="modal-body">
                    <form class="form-signin" id="regi_form">{% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="reg_email" class="form-control"
                                   placeholder="E-mail" required autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="reg_login" class="form-control" placeholder="Логин" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="reg_password" class="form-control" placeholder="Пароль" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="reg_confirm" class="form-control" placeholder="Повтор" required>
                        </div>
                        <div class="alert" id="registration-message"></div>
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary" type="button" onclick="UserService.register('{{regUrl}}')">
                                Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock modal %}

{% block javascript %}
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endblock javascript %}
