{% extends "base.html" %}

{% load staticfiles i18n %}

{% block content-header %}
    <h1>
        Список пользователей системы
    </h1>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-info"><a href="{% url "core:users.add" %}"><i class="fa fa-align-left"></i></a></button>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Пользователи</h3>

                    <div class="box-tools">
                        <div class="input-group" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control input-sm pull-right"  id="search"
                                   placeholder="Search"  onchange="search()" value="{{search}}">

                            <div class="input-group-btn">
                                <button class="btn btn-sm btn-default" onclick="search()"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table id="users_table" class="table table-hover" data-url="{% url "core:users" %}">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Пользователь</th>
                            <th>Email</th>
                            <th>Статус</th>
                            <th>Действия</th>
                        </tr>
                        {% for row in users %}
                            <tr>
                                <td>{{ row.id }}</td>
                                <td>{{ row.username }}
                                <td>{{ row.email }}</td>
                                <td>{% if row.is_active %}<span class="label label-success">Активный</span>{% else %}
                                    <span class="label label-danger">Неактивный</span>{% endif %}</td>
                                <td>
                                    <a href="{% url "core:users.edit" row.id %}?next={{request.path}}"><i class="fa fa-edit text-blue"></i></a> &nbsp;
                                    <a href="javascript:void(0)"
                                       onclick="removeUser('{% url "core:users.delete" row.id %}')"><i class="fa fa-remove text-danger"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if max != 0%}
                    <div class="box-body">
                        <div class="text-center">
                            <ul class="pagination">
                                <li id="active_num" hidden="hidden" value="{{page}}"></li>
                                <li><a class="fa fa-chevron-left" href="javascript:;" onclick="prev()"></a></li>
                                {% for i in range%}
                                    <li id="pagi_{{i}}" data-pagi="true"
                                    {% if i == page %}
                                        class="active"
                                    {% endif %}
                                    {% if i == max %}
                                        data-max="true"
                                    {% endif %}
                                    ><a href="javascript:;" onclick="pagi({{i}})">{{i|add:"1"}}</a></li>
                                {% endfor %}
                                <li><a class="fa fa-chevron-right" href="javascript:;" onclick="next()"></a></li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div>


{% endblock content %}

{% block javascript %}<script src="{% static 'js/users.js' %}"></script>{% endblock javascript %}
