{% load staticfiles %}
<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            {% if user.avatar_small %}
                <img src="{{ MEDIA_URL }}{{user.avatar_small}}" class="img-circle" alt="User Image"
                     style="height:45px;width:45px;">
            {%else%}
                <img src="{% static "system/dist/img/anonymous-160x160.gif" %}" class="img-circle" alt="User Image">
            {% endif %}
        </div>
        <div class="pull-left info">
            <p>{{ user.last_name }} {{ user.first_name }}</p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul id="left-sidebar-menu" class="sidebar-menu">
        <li class="header">HEADER</li>
        <!-- Optionally, you can add icons to the links -->
        <li id="home-li-id" class="{% if request.path == '/' %}active{% endif %}">
            <a href="{% url "home" %}"><i class="fa fa-link"></i><span>Home</span></a></li>
        <li id="users-li-id" class="{% if '/users/' in request.path %}active{% endif %}">
            <a href="{% url "core:users" %}"><i class="fa fa-users"></i><span>Пользователи</span></a></li>
        <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i
                    class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
